
<div id="home-box">

<h1>מקומות בילוי ללא עישון</h1>
<p> באיזו עיר תרצה לבלות</p>


<%= form_tag url_for( :action => 'show_selected'), :method => 'get' do %>
		<%= hidden_field_tag(:locale, "he") %>
		<%= select_tag(:h_name, options_for_select(City.pluck(:h_name))) %> 
		<%= submit_tag("חיפוש") %>
<% end %>
</div>
