<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
		<h1>message:</h1> 
		<p><%= @message %></p>
		<h1>address:</h1>
		<p><%= @address %></p>
		<h1>name:</h1>
		<p><%= @name %><p>
    
  </body>
</html>