@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";
#city-container {
      position: absolute;
      top: 52px;
      left: 0;
      right: 0;
      bottom: 0;
      
  }

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif !important;
}

body ul, p{
  font-family: "PT Sans", Arial, Helvetica, sans-serif !important;
}
#map-canvas { 
   
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    
    border-right: 1px solid gray;
    right: 50%;
    }

.places_column {
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
   
    overflow-y:scroll;
   
    }


#footer {
  clear: both;
  margin: 0;
  padding: .5em;
  color: #333;
  background-color: #ddd;
  border-top: 1px solid gray;
  bottom:0;
  width:100%;
  height:60px; 
 }


#home-container {
  //background-image:url('cherry_3-wallpaper-1366x768.jpg');
  
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:100px;
  //height:100%;
  max-width: 100%;
}

#home-box {
  
  margin-bottom:10px 0px; padding:0px;
  text-align:left;
  padding-left: 80px;
  padding-top: 80px;
  padding-bottom: 40px;
  color: black;
 
  
}

#home-box h1 {
  
  font-size: 40px;
}

.navbar {
  margin-bottom: 0px;
  z-index:10;
}

#my-slideshow {
  margin-left: 80px;
  

}
#my-slideshow li{
 

  font-size: 25px;
  line-height:120%;
  
  color:#383838;
    
}

#facebook_button {
  padding-top: 10px;  
  
}
li .envelope{

padding: none;
}
.envelope {
  
margin-bottom: 10px;  
height: 32px; 
width: 32px;
}


  #map-btn{display:none;}
  #list-btn{display:none;}



.bar-container {
border-radius: 8px;
box-shadow: 2px 2px 2px #888888;
//background: #e4f5fc; /* Old browsers */
//background: -moz-linear-gradient(top, #e4f5fc 0%, #2ab0ed 100%); /* FF3.6+ */
//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
//background: -webkit-linear-gradient(top, #e4f5fc 0%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
//background: -o-linear-gradient(top, #e4f5fc 0%,#2ab0ed 100%); /* Opera 11.10+ */
//background: -ms-linear-gradient(top, #e4f5fc 0%,#2ab0ed 100%); /* IE10+ */
//background: linear-gradient(to bottom, #e4f5fc 0%,#2ab0ed 100%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
}



.bar-name{
   font-weight: bold;
   font-size: 20px;
}
  
.bar-name-list {
  a, a:visited, a:hover{
    background: none;
    color:  #774B77;
    font-weight: bold;
    font-size: 20px;
  }
  
}

.places-count {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.places-count-hb {
  text-align:right;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#username {
  color: white;
   padding-top: 16px;
  
}

.nearby-places{
    font-weight: bold;
    font-size: 20px;
  li, a, a:visited, a:hover{
    background: none;
    color:  #774B77;
    font-weight: bold;
    font-size: 20px;
    //text-decoration: none; 
  }
}


@media all and (max-width: 500px){
  #map-canvas { 
    right:0;
  }
  .places_column {
   left: 0px;
  }
}
//on full screen:
    //#map-btn{display:none;}
    //#list-btn{display:none;}


