@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";

@media all and (max-width: 768px){
   #map-canvas { 
     margin-left: 0 !important;
     width: 100% !important;
   }
   #places-column {
   display: none;
    }
  
   #h-places-column {
  display: none;
   }
 .navbar-nav  {
    background-color: black;
    direction: rtl;
   }
 
  body.main-container{
    background-repeat:no-repeat;
    background-size: auto 100%;
  }
 
 }




#city-container {
      position: absolute;
      top: 52px;
      left: 0;
      right: 0;
      bottom: 0;
      
  }


body {

  height: 100%;
  
   font-family: "PT Sans", Arial, Helvetica, sans-serif !important;
 
}

body ul, p{
  font-family: "PT Sans", Arial, Helvetica, sans-serif !important;
}

#places-column {
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    overflow-y:scroll;
   
    }

#h-places-column{
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    text-align:right;
    overflow-y:scroll;
   }

#map-canvas { 
   
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid gray;
    right: 50%;
    margin-left: 20px;
    margin-top: 55px;
    }



//#footer {
 // clear: both;
  //margin: 0;
  //padding: .5em;
  //color: #333;
  //background-color: #ddd;
  //border-top: 1px solid gray;
  //bottom:0;
  //width:100%;
  //height:60px; 
// }


#home-container {
 width: 100%; 
 
 padding: 50px;
 margin-top: 50px;
 color: white;
 background-color: rgba(0, 0, 0, 0.7);
}
#h-home-container {
 width: 100%; 
 padding: 50px;
 float: right;
 margin-top: 50px;
 color: white;
 background-color: rgba(0, 0, 0, 0.7);
 text-align: right;
 direction: rtl;
}
 


.navbar {
  margin-bottom: 0px;
  z-index:10;
  //opacity: 0.1;
  
  background: none;
  border: none; 
  a:hover{
    font-weight: bold;
  }
}

.navbar > .container-fluid .navbar-brand {
  color: white !important;
}
.navbar-default .navbar-nav > li > a {
  color: white !important;
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a :hover {
  color: white !important;
   font-size: 16px;
}


#facebook_button {
  padding-top: 15px;  
  
}

.bar-container {
margin-right: 25px;
margin-bottom: 5px;
//border-radius: 8px;
box-shadow: 2px 2px 2px #888888;
}



.bar-name{
   font-weight: bold;
   font-size: 20px;
}
#h-bar-name{
   font-weight: bold;
   font-size: 20px;
}
  
.bar-name-list {
  a, a:visited, a:hover{
    background: none;
    color:  #7292B2;
    font-weight: bold;
    font-size: 20px;
  }
  
}

.places-count {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white; 
}
.places-count-hb {
  text-align:right;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#username {
  color: white;
   padding-top: 16px;
  
}



.list-view  #places-column{
  padding-left: 0;
  width: 100%;
  left: 0;
  display: initial;
}
.list-view .bar-container {
margin-right: 0px;
}
.list-view  #map-canvas{
   display: none; 
  
}

.h-list-view  #h-places-column{
  padding-left: 0;
  width: 100%;
  left: 0;
  display: initial;
}
.h-list-view .h-bar-container {
margin-right: 0px;
}
.h-list-view  #map-canvas{
   display: none; 
  
}





#map-btn{
  float: left;
  margin-top: 10px;
}

#list-btn{
  float: left;
  margin-top: 10px;
}

.h-form{
  text-align: right;
}

#place-column{
    
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    overflow-y:scroll;
    margin-top:54px;
    
}

#h-place-column{
    text-align: right; 
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    overflow-y:scroll;
    margin-top:54px;
}



#nearby-places-box{
    font-weight: bold;
    font-size: 20px;
    li, a, a:visited, a:hover{
      background: none;
      color:  #774B77;
      font-weight: bold;
      font-size: 20px;
      list-style-type: none; 
  }
}
#nearby-places {
   font-weight: bold;
   font-size: 20px;
}

#h-nearby-places-box{
    font-weight: bold;
    font-size: 20px;
    li, a, a:visited, a:hover{
      background: none;
      color:  #774B77;
      font-weight: bold;
      font-size: 20px;
      list-style-type: none;
  }
}
#h-nearby-places {
   font-weight: bold;
   font-size: 20px;
}


.main-container{
  
  background-image:url('night.jpg');
  background-size: 100%;
}


.about {
  
}

#infobox, a:hover  {
  color: #7292B2;
}



 

html{
   height: 100%;
  
}
 
#h-map-btn{
  float: left;
  margin-top: 10px;
}

#h-list-btn{
  float: left;
  margin-top: 10px;
}
 


