@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";
#city-container {
      position: absolute;
      top: 52px;
      left: 0;
      right: 0;
      bottom: 0;
      
  }

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif !important;
}

body ul, p{
  font-family: "PT Sans", Arial, Helvetica, sans-serif !important;
}

#places-column {
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    overflow-y:scroll;
   
    }

#h-places-column{
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    text-align:right;
    overflow-y:scroll;
   }

#map-canvas { 
   
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid gray;
    right: 50%;
    margin-left: 20px;
    margin-top: 55px;
    }



//#footer {
 // clear: both;
  //margin: 0;
  //padding: .5em;
  //color: #333;
  //background-color: #ddd;
  //border-top: 1px solid gray;
  //bottom:0;
  //width:100%;
  //height:60px; 
// }


#home-container {
 width: 100%; 
 
 padding: 50px;
 margin-top: 50px;
 color: white;
 background-color: rgba(0, 0, 0, 0.7);
}
#h-home-container {
 width: 100%; 
 padding: 50px;
 float: right;
 margin-top: 50px;
 color: white;
 background-color: rgba(0, 0, 0, 0.7);
 text-align: right;
 direction: rtl;
}
 


.navbar {
  margin-bottom: 0px;
  z-index:10;
  //opacity: 0.1;
  
  background: none;
  border: none; 
  a:hover{
    font-weight: bold;
  }
}

.navbar > .container-fluid .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a :hover {
  color: white;
   font-size: 16px;
}


#facebook_button {
  padding-top: 10px;  
  
}

.bar-container {
margin-right: 25px;
margin-bottom: 5px;
//border-radius: 8px;
box-shadow: 2px 2px 2px #888888;
//background: #e4f5fc; /* Old browsers */
//background: -moz-linear-gradient(top, #e4f5fc 0%, #2ab0ed 100%); /* FF3.6+ */
//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
//background: -webkit-linear-gradient(top, #e4f5fc 0%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
//background: -o-linear-gradient(top, #e4f5fc 0%,#2ab0ed 100%); /* Opera 11.10+ */
//background: -ms-linear-gradient(top, #e4f5fc 0%,#2ab0ed 100%); /* IE10+ */
//background: linear-gradient(to bottom, #e4f5fc 0%,#2ab0ed 100%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
}



.bar-name{
   font-weight: bold;
   font-size: 20px;
}
#h-bar-name{
   font-weight: bold;
   font-size: 20px;
}
  
.bar-name-list {
  a, a:visited, a:hover{
    background: none;
    color:  #7292B2;
    font-weight: bold;
    font-size: 20px;
  }
  
}

.places-count {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white; 
}
.places-count-hb {
  text-align:right;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#username {
  color: white;
   padding-top: 16px;
  
}
// .map-view  #map-canvas{
  // margin-left: 0;
  // width: 100%;
// }
// .map-view #places-column{
  // display: none; 
// }
// 
// .list-view  #places-column{
  // padding-left: 0;
  // width: 100%;
  // left: 0;
// }
// 
// .list-view  #map-canvas{
   // display: none; 
//   
// }

// @media all and (max-width: 768px){
  // #map-canvas { 
    // margin-left: 0;
    // width: 100%;
  // }
  // #places-column {
   // padding-left: 0;
   // width: 100%;
   // left: 0;
  // }
  // #h-places-column {
   // padding-left: 0;
   // width: 100%;
   // left: 0;
  // }
// }
// @media all and (max-width: 768px){
// .bar-container {
// margin-right: 0;
// margin-bottom: 1px;
// }
// }

.h-form{
  text-align: right;
}

#place-column{
    
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    overflow-y:scroll;
    margin-top:54px;
    
}

#h-place-column{
    text-align: right; 
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    overflow-y:scroll;
    margin-top:54px;
}



#nearby-places-box{
    font-weight: bold;
    font-size: 20px;
    li, a, a:visited, a:hover{
      background: none;
      color:  #774B77;
      font-weight: bold;
      font-size: 20px;
      list-style-type: none; 
  }
}
#nearby-places {
   font-weight: bold;
   font-size: 20px;
}

#h-nearby-places-box{
    font-weight: bold;
    font-size: 20px;
    li, a, a:visited, a:hover{
      background: none;
      color:  #774B77;
      font-weight: bold;
      font-size: 20px;
      list-style-type: none;
  }
}
#h-nearby-places {
   font-weight: bold;
   font-size: 20px;
}


.main-container{
  
  background-image:url('night.jpg');
  background-size: 100%;
}


.about {
  
}

#infobox, a:hover  {
  color: #7292B2;
}

