@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";
#city-container {
 
  }

body {
  
   //overflow: hidden;
}
#map-canvas { 
    height: 900px;
    float: left;
    border-right: 1px solid gray;
    width: 50%;
    }

.places_column {
    padding-left: 50px;
    float: right;
    width: 50%;
    height: 900px;
    overflow-y:scroll;
   
    }
.place {
  width: 250px;
  height: 200px;
 }


#footer {
  clear: both;
  margin: 0;
  padding: .5em;
  color: #333;
  background-color: #ddd;
  border-top: 1px solid gray;
  bottom:0;
  width:100%;
  height:60px; 
 }


#home-container {
  background-image:url('cherry_3-wallpaper-1366x768.jpg');
  
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:100px;
  //height:100%;
  max-width: 100%;
}

#home-box {
  
  margin-bottom:10px 0px; padding:0px;
  text-align:left;
  padding-left: 80px;
  padding-top: 80px;
  padding-bottom: 40px;
  color: black;
 
  
}

#home-box h1 {
  
  font-size: 40px;
}

.navbar {
  margin-bottom: 0px;
}

#my-slideshow {
  margin-left: 80px;
  

}
#my-slideshow li{
 

  font-size: 25px;
  line-height:120%;
  
  color:#383838;
    
}

#facebook_button {
  padding-top: 10px;  
  
}
li .envelope{

padding: none;
}
.envelope {
  
margin-bottom: 10px;  
height: 32px; 
width: 32px;
}

